@model SimpleBlog.Framework.IPagedList<BlogPost>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>
<div class="row">
    <div class="col-md-6">
        <h2>Newest blog posts:</h2>
        @if (Model.Count > 0)
        {
            <div class="list-group">
                @foreach (var item in Model)
                {
                    <div class="list-group-item">
                        <partial name="_PartialContentRowItem" model="@item" view-data="ViewData" />
                    </div>
                }
            </div>
        }
        else
        {
            <div class="alert alert-info text-center">
                <p>no blog post found!</p>
            </div>
        }

        @if (Model.TotalPages > 1)
        {
            <partial name="_PartialPagination" model="@Model.GetPagination()" view-data="ViewData" />
        }

        @if (User.Identity.IsAuthenticated)
        {
            <a class="btn btn-primary" asp-controller="BlogPosts" asp-action="Index">Manage Blog posts</a>
        }
        else
        {
            <a class="btn btn-outline-secondary disabled" disabled>Manage Blog posts</a>
            <p>You need to <a href="/Identity/Account/Login">Login</a> to manage blog posts!</p>
        }
    </div>
</div>
